---
import Container from "./ShadedContainer.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Donations or support.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-36">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-36 h-36 rounded-full" src="./Branding/shae-picrew-pfp.png" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Me, Myself, and I</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Your beloved</p>
          </div>
        </div>
        <p class="mt-8">
          You can donate via the following links, for now, it you wish 👼
        </p>

      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-36 h-36 rounded-3xl" src="./images/orgs/nteract.png" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">NTeract and NumFocus</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">All things python computing & daily life automation</p>
          </div>
        </div>
        <p class="mt-8">The folks are NumFOCUS are godlike. Ever heard or NumPy, SciPy, xArray, and everything about numerical methods in python? That's them. If you think about Jupyter Notebooks, or Papermill to automate them, here they are aswell !</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-36 h-36 rounded-2xl" src="./images/orgs/homebrew.svg" alt="Homebrew" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Homebrew</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">The package manager I like most</p>
          </div>
        </div>
        <p class="mt-8">Homebrew is insanely user friendly. I love using Homebrew on linux, and Linuxbrew is by far my preferred method any time possible, over that pesky APT. The work behind it is mostly donations funded, so please go ahead and donate !</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-36 h-36 rounded-full" src="./images/orgs/volt.jpg" alt="volt" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Volt Europa</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">My venture into politics</p>
          </div>
        </div>
        <p class="mt-8">Volt is a pretty cool idea. You take everything that's good about Europe, and you remove what's bad. They want more democracy, more freedom, more federalism, and advocate for sensible but progressive policies which should be decided europe-wide.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-36 h-36 rounded-2xl" src="./images/orgs/Wikimedia.svg" alt="Wiki" width="700" height="700" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Wikimedia Foundation</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">The backbone of human knowledge</p>
          </div>
        </div>
        <p class="mt-8">Wikimedia Commons is, without a shred of irony or grandeur, the modern equivalent of the <a class="underline decoration-4 decoration-fuchsia-500" href="https://en.wikipedia.org/wiki/Library_of_Alexandria">Library of Alexandria.</a> Nothing will replace it in the upcoming decades, and the world relies on it for everything,</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-80 h-40 rounded-l" src="./images/orgs/symbolic_matrix.svg" alt="user avatar" width="400" height="200" loading="lazy">
        </div>
        <div class="flex gap-4"><h6 class="text-lg font-medium text-gray-700 dark:text-white">KeOps and GeomLoss</h6>
        </div>
        <div class="flex gap-4"><p class="text-sm text-gray-500 dark:text-gray-300">A very cool GPU-based library to perform common kernel operations</p>
        </div>
        
        <p class="mt-8">Signal processing, image processing, splines fitting, statistics, econometrics, social sciences, biomolecular algorithms. Kernels are everywhere. The <a class="underline decoration-4 decoration-fuchsia-500" href="https://www.kernel-operations.io/keops/index.html">folks at KeOps</a> are trying to make it easier and faster to compute those at scale.</p>
      </div>

    </div>
  </Container>
</div>